<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>offerForm</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <form #form="ngForm" (ngSubmit)="searchOffers()">

    <ion-list id="my-list">  
      <!-- select struttura -->
      <ion-item>
        <label for="location">Seleziona una struttura</label>
        <ion-select [(ngModel)]="formData.location" id="location" name="location" aria-label="location" required>
          <ion-select-option value="ALE">Struttura 1</ion-select-option>
          <ion-select-option value="MON">Struttura 2</ion-select-option>
        </ion-select>
      </ion-item>
      
      <!-- input date -->
      <ion-item>
        <ion-datetime presentation="date" [(ngModel)]="formData.arrivalDate" name="arrivalDate">
          <span slot="title">Seleziona una data di arrivo</span>
        </ion-datetime>
      </ion-item>
      
      <!-- number of nights -->
      <ion-item>
        <ion-input type="number" [(ngModel)]="formData.stayDays" name="stayDays" label="Inserisci il numero di notti" placeholder="00" required></ion-input>
      </ion-item>
      
      <!-- submit button -->
      <ion-button type="submit" id="btn-search-offer">
        Cerca offerta
      </ion-button>
    </ion-list>
    

  </form>

  <div *ngIf="response">
    <div [innerHTML]="response.data"></div>
  </div>

</ion-content>
  